p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}
.title {
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}
.stats {
    font-size: 14px;
    color: #606060;
    margin-top: 0px; 
    margin-bottom: 15px;
}
.autor {
    color: #606060;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.descrição {
    color: #606060;
    font-size: 14px;
    width: 280px;
    line-height: 20px;
    margin-top: 0;
}
.pinho {
    background-color: #e34140;
    color: white;
    margin-bottom: 30px;
    margin-top: 25px;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.exemplo {
    cursor: pointer;
}
.exemplo:hover {
    text-decoration: underline;
}
